<!DOCTYPE html>
<html lang="pl" ng-app="services">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AngularJS tutorial</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">
        <img src="img/angularjs-for-header-only.svg" alt="AngularJS">
    </a>

    <div class="navbar-heading">$tiemout and $interval services</div>
</nav>

<div class="container">
    <div class="row text-center" ng-controller="Controller">
        <div class="well">
            {{ status }}
        </div>
        <button class="btn btn-warning" ng-click="stopLogin()">Stop logging in</button>

        <hr>

        <div class="well">
            {{ currentDate | date: 'HH:mm:ss'}}
        </div>
        <button class="btn btn-warning" ng-click="stopClock()">Stop clock</button>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>

<script>
    var app = angular.module('services', []);

    app.controller('Controller', ['$scope', '$timeout', '$interval', function ($scope, $timeout, $interval) {
        $scope.status = 'Logging in in progress...';

        var timeoutId = $timeout(function () {
            $scope.status = 'Successful';
        }, 3000);

        $scope.stopLogin = function () {
            $scope.status = 'Canceled';
            $timeout.cancel(timeoutId);
        };

        $scope.startDate = function () {
          $scope.currentDate = new Date();
        };

        $scope.startDate();

        var intervalId = $interval(function () {
            $scope.startDate();
        }, 1000);

        $scope.stopClock = function () {
            $interval.cancel(intervalId);
        };


    }]);

</script>

</body>
</html>